<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta property="og:image" content="http://cambrnorth.org/public/img/cambrlogo.png"/>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ "bootstrap.css" | asset_url | stylesheet_tag }}
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        {{ "responsive.css" | asset_url | stylesheet_tag }}
    </head>
    <body>

        {% include "navigation" %}

        <div class="container">
            {% block content %}{% endblock %}

            {% include "footer" %}
        </div>

        {{ "jquery.min.js" | asset_url | script_tag }}
        {{ "bootstrap.min.js" | asset_url | script_tag }}
        {{ "donate.js" | asset_url | script_tag }}
        {{ "jquery.validation-min.js" | asset_url | script_tag }}

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-41791826-1', 'cambrnorth.org');
          ga('send', 'pageview');
          ga('require', 'ecommerce', 'ecommerce.js');

        </script>
    </body>
</html>